@model ProgrammersBlog.Entities.Dtos.UserPasswordChangeDto
@{ 
    Layout = "_Layout";
    ViewBag.Title = "Şifre Değiştir";
}
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card mt-3">
                <div class="card-header">
                    <h4 class="text-center"><span class="fas fa-key"></span>Şifre Değiştir</h4>
                </div>
                <div class="container">
                    <div class="row gutters">
                        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                            <div class="card-body">
                                <form asp-controller="User" asp-action="PasswordChange" method="post">
                                    <div asp-validation-summary="All" class="text-danger" id="validation-summary"></div>
                                    <div class="row gutters">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <h6 class="mb-2 text-primary">Kullanıcı Bilgileri</h6>
                                        </div>
                                        <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12 col-12">
                                            <div class="form-group">
                                                <label asp-for="CurrentPassword"></label>
                                                <input type="password" class="form-control" asp-for="CurrentPassword" id="fullName" placeholder="Geçerli şifre">
                                                <span class="text-danger" asp-validation-for="CurrentPassword"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="NewPassword"></label>
                                                <input type="password" class="form-control" asp-for="NewPassword" id="fullName" placeholder="Yeni şifre">
                                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="RepeatPassword"></label>
                                                <input type="password" class="form-control" asp-for="RepeatPassword" id="fullName" placeholder="Yeni şifre tekrar">
                                                <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                                            </div>
                                        </div>
                                        <div class="col-xl-10 col-lg-6 col-md-6 col-sm-6 col-12">
                                            <div class="text-right form-group">
                                                <a name="submit" id="submit" class="btn btn-danger" asp-area="Admin" asp-controller="Home" asp-action="Index">Iptal</a>
                                                <button type="submit" class="btn btn-primary">Kaydet</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>