*, ::after, ::before {
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
    font-family: monospace, serif;
    letter-spacing: 0.05em;
}

h1 {
    font-size: 23px;
}

.form {
    width: 300px;
    padding: 64px 15px 24px;
    margin: 0 auto;
}

    .form .control {
        margin: 0 0 24px;
    }

        .form .control input {
            width: 100%;
            padding: 14px 16px;
            border: 0;
            background: transparent;
            color: #fff;
            font-family: monospace, serif;
            letter-spacing: 0.05em;
            font-size: 16px;
        }

            .form .control input:hover, .form .control input:focus {
                outline: none;
                border: 0;
            }

    .form .btn {
        width: 100%;
        display: block;
        padding: 14px 16px;
        background: transparent;
        outline: none;
        border: 0;
        color: #fff;
        letter-spacing: 0.1em;
        font-weight: bold;
        font-family: monospace;
        font-size: 16px;
    }

.block-cube {
    position: relative;
}

    .block-cube .bg-top {
        position: absolute;
        height: 10px;
        background: #020024;
        background: linear-gradient(90deg, #020024 0%, #340979 37%, #00d4ff 94%);
        bottom: 100%;
        left: 5px;
        right: -5px;
        transform: skew(-45deg, 0);
        margin: 0;
    }

        .block-cube .bg-top .bg-inner {
            bottom: 0;
        }

    .block-cube .bg {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: #020024;
        background: linear-gradient(90deg, #00ff15 0%, #00d4ff 37%, #00d4ff 94%);
    }

    .block-cube .bg-right {
        position: absolute;
        background: #020024;
        background: #00d4ff;
        top: -5px;
        z-index: 0;
        bottom: 5px;
        width: 10px;
        left: 100%;
        transform: skew(0, -45deg);
    }

        .block-cube .bg-right .bg-inner {
            left: 0;
        }

    .block-cube .bg .bg-inner {
        transition: all 0.2s ease-in-out;
    }

    .block-cube .bg-inner {
        background: #000000;
        position: absolute;
        left: 2px;
        top: 2px;
        right: 2px;
        bottom: 2px;
    }

    .block-cube .text {
        position: relative;
        z-index: 2;
    }

    .block-cube.block-input input {
        position: relative;
        z-index: 2;
    }

        .block-cube.block-input input:focus ~ .bg-right .bg-inner, .block-cube.block-input input:focus ~ .bg-top .bg-inner, .block-cube.block-input input:focus ~ .bg-inner .bg-inner {
            top: 100%;
            background: rgba(255, 255, 255, 0.5);
        }

    .block-cube.block-input .bg-top,
    .block-cube.block-input .bg-right,
    .block-cube.block-input .bg {
        background: rgba(255, 255, 255, 0.5);
        transition: background 0.2s ease-in-out;

    }

        .block-cube.block-input .bg-right .bg-inner,
        .block-cube.block-input .bg-top .bg-inner {
            transition: all 0.2s ease-in-out;
            box-shadow: -20px 20px 35px 1px #f6460c;
        }

    .block-cube.block-input:focus .bg-top,
    .block-cube.block-input:focus .bg-right,
    .block-cube.block-input:focus .bg, .block-cube.block-input:hover .bg-top,
    .block-cube.block-input:hover .bg-right,
    .block-cube.block-input:hover .bg {
        background: rgba(255, 255, 255, 0.8);
        box-shadow: -20px 20px 35px 1px #00d4ff;
    }

    .block-cube.block-cube-hover:focus .bg .bg-inner, .block-cube.block-cube-hover:hover .bg .bg-inner {
        top: 100%;
    }

.credits {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 15px 15px;
    width: 100%;
    z-index: 111;
}

    .credits a {
        opacity: 0.6;
        color: #fff;
        font-size: 11px;
        text-decoration: none;
    }

        .credits a:hover {
            opacity: 1;
        }
.text-muted {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 40px 15px;
    width: 100%;
    z-index: 111;
}
    .text-muted a {
        opacity: 0.6;
        color: #fff;
        font-size: 11px;
        text-decoration: none;
    }
        .text-muted a:hover {
            opacity: 1;
        }

@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.heading {
    font-size: 1.5em;
    margin-bottom: 12px;
}

.card {
    background: #212121;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
    box-shadow: -20px 20px 35px 1px #042abd;
    display: flex;
    flex-direction: column;
    padding: 2px;
    margin: 10px;
    max-width: 400px;
    width: 100%;
}

.content-wrapper {
    font-size: 1.1em;
    margin-bottom: 44px;
}

    .content-wrapper:last-child {
        margin-bottom: 0;
    }

.button {
    align-items: center;
    background: #e5efe9;
    border: 1px solid #5a72b5;
    border-radius: 4px;
    color: #121943;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    width: 150px;
}

    .button:focus {
        border: 2px solid transparent;
        box-shadow: 0px 0px 0px 2px #121943;
        outline: solid 4px transparent;
    }

.link {
    color: #f6460c;
}

    .link:focus {
        box-shadow: 0px 0px 0px 2px #121943;
    }

.input-wrapper {
    display: flex;
    flex-direction: column;
}

    .input-wrapper .label {
        align-items: baseline;
        display: flex;
        font-weight: 700;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    .input-wrapper .optional {
        color: #f6460c;
        font-size: 0.9em;
    }

    .input-wrapper .input {
        border: 1px solid #5a72b5;
        border-radius: 4px;
        height: 40px;
        padding: 8px;
    }

code {
    background: #f6460c;
    border: 1px solid #5a72b5;
    border-radius: 4px;
    padding: 2px 4px;
}

/* 

The following vars come from my theme. 
You'll need to replace with your own color values. 

- "$light"
- "$mid"
- "$dark"

*/
.toggle {
    align-items: center;
    border-radius: 100px;
    display: flex;
    font-weight: 700;
    margin-bottom: 16px;
    box-shadow: -20px 20px 35px 1px #000;
}

    .toggle:last-of-type {
        margin: 20px;
    }

.toggle__input {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

    .toggle__input:not([disabled]):active + .toggle-track, .toggle__input:not([disabled]):focus + .toggle-track {
        border: 1px solid transparent;
        box-shadow: 0px 0px 0px 2px #042abd;
    }

    .toggle__input:disabled + .toggle-track {
        cursor: not-allowed;
        opacity: 0.7;
    }

.toggle-track {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    cursor: pointer;
    display: flex;
    height: 30px;
    margin-right: 12px;
    position: relative;
    width: 60px;
}

.toggle-indicator {
    align-items: center;
    background: #000;
    border-radius: 24px;
    bottom: 2px;
    display: flex;
    height: 24px;
    justify-content: center;
    left: 2px;
    outline: solid 2px transparent;
    position: absolute;
    transition: 0.25s;
    width: 24px;
}

.checkMark {
    fill: #020024;
    height: 20px;
    width: 20px;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
}

.toggle__input:checked + .toggle-track .toggle-indicator {
    background: #00ff15;
    transform: translateX(30px);
}

    .toggle__input:checked + .toggle-track .toggle-indicator .checkMark {
        opacity: 1;
        transition: opacity 0.25s ease-in-out;
    }

@media screen and (-ms-high-contrast: active) {
    .toggle-track {
        border-radius: 0;
    }
}

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
}

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        .topnav a.active {
            background-color: #2196F3;
            color: white;
        }

    .topnav .login-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
        width: 120px;
    }

    .topnav .login-container button {
        float: right;
        padding: 6px 10px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: #555;
        color: white;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

        .topnav .login-container button:hover {
            background-color: green;
        }

@media screen and (max-width: 600px) {
    .topnav .login-container {
        float: none;
    }

        .topnav a, .topnav input[type=text], .topnav .login-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}
